* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  max-width: 1920px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

#scoreBoard {
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  font-size: 1.3rem;
  padding: 0.3rem;
  position: sticky;
}

.scoreSection {
  margin: 2rem 2rem;
  border-bottom: 2px black solid;
}

input {
  margin: 0.5rem 0.3rem;
}

.pointInput {
  height: 2rem;
}

.multipleSection label {
  padding: 0.3rem;
}

input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}
input[type="radio"] {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}
input[type="number"] {
  margin: 0.5rem;
  vertical-align: middle;
}

#resetBtn {
  margin-left: 3rem;
  padding: 0.5rem;
  border: none;
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}
